// styles.scss
// COLOR PALETTE
$primary: #5F5958;
$secondary: #987E5C;
$tertiary: #B2ACAB;
$neutral: #444141; //#444141
$white: #ffffff;
$accent: #B2ACAB;

// FONT STACKS
$mont: 'Montserrat', sans-serif;
$os: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$rob: 'Roboto', sans-serif;
$pt: 'PT Serif', serif;



// LENGTHS
$page-width: 100%;
$page-width-fallback: 960px;
$padding: 2em;
$swatch-margin: 2%;
$texture-margin: 2%;

// OTHER
$num-colors: 5;
$num-textures: 3;

body {
  font: 100%/1.5 $os;
  font-size: 14px;
  line-height: 1.42857143;
}
// Logo
.center {
  margin: 0 auto;
}

.headerhours {
  text-align: center;
}

// Typography
.typography {
  span .line { 
    width:25%;
    height:0;
    background-color:#fff;
    margin:0 auto;
    margin-bottom:1px;
    text-align:center;
    padding:0 4em;
  }
.reversed h2, .reversed h6 { 
  color: white; font-weight: 400; 
}
     
  p {
  font-family: $pt;
  font-size: .9em;
  line-height:1.65em;
  font-weight:400;
  color:$primary;
  margin-bottom: 1em;
  }
  .headercopy p {
    font-family: $pt;
  padding: 20px 20px 50px;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.8em; }

 p .in-text-link {
  font-family: $os;
  font-weight: 700;
  text-transform:uppercase;
  text-decoration:none;
  color: $secondary;
  -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
  &:hover, &:focus {
    color: $neutral;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
  }

  }

  .reversed p { color: white; letter-spacing:.25px; }
  .reversed p .in-text-link { color: $white; 
    &:hover, &:focus {
    color: $secondary;
  }
  }

  .splash-page h1, .splash-page h2, .splash-page h3, .splash-page h4, .splash-page h5, .splash-page h6 {
  font-family: $mont;
  font-size: 200%;
  color: #231f20;
  text-align: center;
  text-shadow: none; }


  h2 {
    margin: 0.5em 0 .45em 0;
    font-family: $mont;
    font-size: 2.2em;
    font-weight:400;
    text-transform:titlecase;
    line-height: 1;
    letter-spacing:-1px;
    color: $primary;
    text-align: center;

  }
  h3 {
    font-family:$os;
    font-size: 1.3em;
    font-weight: 700;
    line-height:.25;
    color:$secondary;
    margin: .5em 0 .75em 0;
    text-transform:uppercase;
    a {
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(152, 126, 92);
      transition: color 0.5s ease-in-out;
      line-height: 0.8em;
      &:hover, &:focus {
        color: $neutral;
        -webkit-transition: color .5s ease-in-out;
        -moz-transition: color .5s ease-in-out;
        -o-transition: color .5s ease-in-out;
        transition: color .5s ease-in-out;
      }
    }
  }
  h5 {
    margin:.15em 0 0 0;
    font-size:.70em;
    color:#666;
    font-style:italic;
    font-weight:400;
  }
  h6 {
    margin:0;
    padding:0 0 .8em 0; 
    border-bottom:1px dashed #ccc;
  }

} // End Typography

// Menu
.menu {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

//Social Media Buttons
.social {
  margin: 0 auto;
  text-align: center;
  width: 9em;
  height: 3em;
}
.social div {
  float:left;
  margin:0 auto;
}
#fb {
  background-image:url(../images/facebook-icon.svg);
  background-size:30px;
  width:30px;
  height:30px;
  
  -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    
  &:hover, &:focus {
    background-image:url(../images/facebook-icon-rev.svg);
    
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    }
}
#insta {
  background-image:url(../images/instagram-icon.svg);
  background-size:30px;
  width:30px;
  height:30px;
  margin:0 0 0 10px;
  
  -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    
  &:hover, &:focus {
    background-image:url(../images/instagram-icon-rev.svg);
    
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    }
}
#twi {
  background-image:url(../images/twitter-icon.svg);
  background-size:30px;
  width:30px;
  height:30px;
  margin:0 0 0 10px;
  
  -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    
  &:hover, &:focus {
    background-image:url(../images/twitter-icon-rev.svg);
    
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    }
}
#yelp {
  background-image:url(../images/yelp-icon.png);
  background-size:25px;
  width:25px;
  height:25px;
  margin:0 0 0 10px;
}
#fs {
  background-image:url(../images/frsq-icon.png);
  background-size:25px;
  width:25px;
  height:25px;
  margin:0 0 0 10px;
}
#sr {
  background-image:url(../images/sr-icon.png);
  background-size:25px;
  width:25px;
  height:25px;
  margin:0 0 0 10px;
}
.icons {
  padding: 0;
  margin: 4% auto;
    text-align: center;
    float: left;
    width: 100%;

  li {
    display: inline-block;
      list-style-type: none;
      text-align: center;
      width: 80px;

    .lt-ie8 & {
      display: block;
      float: left;
    }

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

// copyright
.copyright-info {
  margin-top: 1em;
  clear: both;
  text-align: center;
}


// Start carousel
.carousel { z-index: -99; }
.carousel .item {
  position: fixed; 
  width: 100%; height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

}
.carousel .one {
  background: url("../images/1416-home-01.jpg");
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  background: url("../images/1416-home-02.jpg");
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .three {
  background: url("../images/1416-home-03.jpg");
  background-size: cover;
  -moz-background-size: cover;
}            .carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}
