html, body {
  height: 100%; }

body {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143; }

#holder {
  min-height: 100%;
  position: relative; }

.scroll {
  overflow: scroll;
  position: relative; }

.logo {
  margin-left: -1px;
  margin-right: -1px;
  background: url(../images/wood-texture-flowers.jpg);
  background-size: cover;
  height: 270px; }
  @media only screen and (max-width: 47em) {
    .logo {
      background-position: 54%;
      height: 237px; } }
  @media only screen and (max-device-width: 1000px) and (orientation: landscape) {
    .logo {
      height: 200px; } }

.center {
  margin: 0 auto; }

.well {
  position: absolute;
  background-color: #FFFFFF;
  padding: 0;
  height: 100vh;
  overflow: auto;
  margin-bottom: 0px;
  padding-bottom: 200px;
  width: 43%; }
  @media only screen and (max-width: 80em) {
    .well {
      width: 50%; } }
  @media only screen and (max-width: 47em) {
    .well {
      width: 100%;
      padding-bottom: 100px; } }

.headerhours {
  text-align: center;
  clear: both; }
  .headerhours p {
    font-family: 'Quicksand-Bold';
    padding: 20px 20px 50px;
    text-align: center;
    font-size: .85em;
    line-height: 135%;
    text-transform: uppercase;
    color: #231f20; }

.headernav p {
  font-weight: 400;
  color: #ffffff !important;
  padding-top: 1em;
  display: block;
  max-width: 180px;
  margin: 0 auto; }
  @media only screen and (max-device-width: 1000px) and (orientation: landscape) {
    .headernav p {
      padding-top: 0;
      max-width: 100%; } }

.headernav a {
  color: #fafafa;
  text-decoration: none; }

.headernav a:hover, .headernav a:focus {
  color: #B2ACAB;
  text-decoration: none;
  transition-property: color .5s linear 0s;
  -moz-transition: color .5s linear 0s;
  -webkit-transition: color .5s linear 0s;
  -o-transition: color .5s linear 0s; }

.typography span .line {
  width: 25%;
  height: 0;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 1px;
  text-align: center;
  padding: 0 4em; }

.typography .reversed h2, .typography .reversed h6 {
  color: white;
  font-weight: 400; }

.typography p {
  font-family: "PT Serif", serif;
  font-size: .9em;
  line-height: 1.65em;
  font-weight: 400;
  color: #5F5958;
  margin-bottom: 1em; }

.typography .headercopy p {
  font-family: "PT Serif", serif;
  padding: 20px 20px 50px;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.8em; }

.typography p .in-text-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #987E5C;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out; }
  .typography p .in-text-link:hover, .typography p .in-text-link:focus {
    color: #444141;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out; }

.typography .reversed p {
  color: white;
  letter-spacing: .25px; }

.typography .reversed p .in-text-link {
  color: #ffffff; }
  .typography .reversed p .in-text-link:hover, .typography .reversed p .in-text-link:focus {
    color: #987E5C; }

.typography .splash-page h1, .typography .splash-page h2, .typography .splash-page h3, .typography .splash-page h4, .typography .splash-page h5, .typography .splash-page h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  color: #231f20;
  text-align: center;
  text-shadow: none; }

.typography h2 {
  margin: 0.5em 0 .45em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  text-transform: titlecase;
  line-height: 1;
  letter-spacing: -1px;
  color: #5F5958;
  text-align: center; }
  @media only screen and (max-width: 47em) {
    .typography h2 {
      padding: 10px; } }

.typography h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: .25;
  color: #987E5C;
  margin: .5em 0 .75em 0;
  text-transform: uppercase; }
  .typography h3 a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #987e5c;
    transition: color 0.5s ease-in-out;
    line-height: 0.8em; }
    .typography h3 a:hover, .typography h3 a:focus {
      color: #444141;
      -webkit-transition: color .5s ease-in-out;
      -moz-transition: color .5s ease-in-out;
      -o-transition: color .5s ease-in-out;
      transition: color .5s ease-in-out; }

.typography h5 {
  margin: .15em 0 0 0;
  font-size: .70em;
  color: #666;
  font-style: italic;
  font-weight: 400; }

.typography h6 {
  margin: 0;
  padding: 0 0 .8em 0;
  border-bottom: 1px dashed #ccc; }

.info-copy {
  margin: 0 auto;
  text-align: center;
  width: 85%; }

.menu {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em; }

.social {
  position: fixed;
  bottom: 0;
  margin-left: -1px;
  margin-right: -1px;
  padding-top: 3%;
  background: url(../images/wood-texture-flowers.jpg);
  background-size: cover;
  height: 150px;
  width: inherit; }
  @media only screen and (max-width: 47em) {
    .social {
      height: 50px; } }
  @media only screen and (max-device-width: 1000px) and (orientation: landscape) {
    .social {
      display: none; } }
  .social .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .social p {
    padding-top: 10px;
    color: #ffffff; }

.social div {
  text-align: center;
  margin: 0 auto; }

#fb {
  background-image: url(../images/fb-white.svg);
  background-size: 30px;
  width: 30px;
  height: 30px;
  -webkit-transition: background-image .5s ease-in-out;
  -moz-transition: background-image .5s ease-in-out;
  -o-transition: background-image .5s ease-in-out;
  transition: background-image .5s ease-in-out; }
  #fb:hover, #fb:focus {
    background-image: url(../images/facebook-icon-rev.svg);
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out; }

#insta {
  background-image: url(../images/insta-white.svg);
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  -webkit-transition: background-image .5s ease-in-out;
  -moz-transition: background-image .5s ease-in-out;
  -o-transition: background-image .5s ease-in-out;
  transition: background-image .5s ease-in-out; }
  #insta:hover, #insta:focus {
    background-image: url(../images/instagram-icon-rev.svg);
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out; }

#twi {
  background-image: url(../images/tw-white.svg);
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  -webkit-transition: background-image .5s ease-in-out;
  -moz-transition: background-image .5s ease-in-out;
  -o-transition: background-image .5s ease-in-out;
  transition: background-image .5s ease-in-out; }
  #twi:hover, #twi:focus {
    background-image: url(../images/twitter-icon-rev.svg);
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out; }

#yelp {
  background-image: url(../images/yelp-icon.png);
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px; }

#fs {
  background-image: url(../images/frsq-icon.png);
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px; }

#sr {
  background-image: url(../images/sr-icon.png);
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px; }

.icons {
  padding: 0;
  margin: 4% auto;
  text-align: center;
  float: left;
  width: 100%; }
  .icons li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 80px;
    opacity: 0.5; }
    .lt-ie8 .icons li {
      display: block;
      float: left; }
    .icons li:hover {
      opacity: 1; }

.copyright-info {
  margin-top: 1em;
  clear: both;
  text-align: center; }

.carousel {
  z-index: -99; }

.carousel .item {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.carousel .one {
  background: url("../images/1416-home-01.jpg");
  background-size: cover;
  -moz-background-size: cover; }

.carousel .two {
  background: url("../images/1416-home-02.jpg");
  background-size: cover;
  -moz-background-size: cover; }

.carousel .three {
  background: url("../images/1416-home-03.jpg");
  background-size: cover;
  -moz-background-size: cover; }

.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2; }

/* BUTTONS */
a.button {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #987E5C;
  letter-spacing: 1px;
  display: block;
  padding: 1em 1em;
  width: 179px;
  background: none;
  border: 3px solid #987E5C;
  text-decoration: none;
  -webkit-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
  -moz-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
  -o-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
  transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out; }
  a.button:hover, a.button:focus {
    color: #ffffff;
    background-color: #987E5C;
    -webkit-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
    -moz-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
    -o-transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out;
    transition: color .5s linear, background-color .5s ease-in-out, border-color .5s ease-in-out; }

.widget {
  float: right;
  position: absolute;
  right: 15%;
  top: 10%; }
  @media only screen and (max-width: 1200px) {
    .widget {
      right: 5%; } }
